<div>
  <div>
    <%= form_for([@product, Product.new]) do |f| %>
      <form class="input-group">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :quantity %><br>
          <%= f.text_field :quantity %>
        </div>
          <%= f.submit class: "btn btn-positive btn-block"  %>
        <% end %>
      </form>
  </div>
</div>


