<!DOCTYPE html>
<html>
<head>
  <title>RatchetShoplist</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-ios.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<header class="bar bar-nav">
  <% if user_signed_in? %>
    <%= link_to "sign out", destroy_user_session_path, method: "delete", class: "icon pull-right"%>
  <% else %>
    <%= link_to "sign in", new_user_session_path, class: "icon pull-right"%>
  <% end %>
  <%= link_to "Shop list" , root_path,  class: "title" %>

</header>

<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


</body>
</html>
