<!DOCTYPE html>
<html>
<head>
  <title>RatchetShoplist</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-ios.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.js"></script>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header class="bar bar-nav">
  <a href="#myModal" class="icon icon-gear pull-right"></a>
  <%= link_to "sign in", new_user_session_path, class: "icon icon-home pull-left"%>
  <%= link_to "Shop list" , root_path,  class: "title" %>
</header>

<%= yield %>

  <div id="myModal" class="modal">
    <header class="bar bar-nav">
      <a class="icon icon-close pull-right" href="#myModal"></a>
      <h1 class="title">Settings Example</h1>
    </header>

    <div class="content">
      <h5 class="content-padded">App settings</h5>

      <ul class="table-view">
        <li class="table-view-cell media">
          <span class="media-object pull-left icon icon-compose"></span>
          <div class="media-body">
            Enable weight calculator
          </div>
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        </li>
      </ul>
      <div>
        <button class="btn btn-positive btn-block">Save settings</button>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-negative btn-block" %>
      </div>
    </div>
  </div>

  <div class="bar bar-standard bar-footer-secondary">
    <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-negative btn-block" %>
  </div>





  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


</body>
</html>
